<script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            capitana: ['Capitana', 'sans-serif'],
          },
          colors: {
            fondo: '#F5E5D8',
            texto: '#4D3227',
            titulo: '#a2826d',
            linea: '#cac4be',
            caja: '#4D3227',
            parrafo1: '#ad9e94',
          }
        }
      }
    }
  </script>

    .curioso-box {
      animation: pop 0.6s ease;
    }

    @keyframes pop {
      0% {
        transform: scale(0.95);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

    nav a:hover {
      color: #a2826d;
    }

    button:hover {
      background-color: #3a241c;
    }
  